@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@theme {
    --font-space: 'Space Grotesk', sans-serif;
    --bg-color-primary: #ECE9D6;
    --color-cream: #ECE9D6;
    --color-red: #FF5554;
    --color-pink: #FF0057;
    --color-purple: #5C32AE;
    --color-blue: #4A29FE;
    --color-green: #35EA77;
    --color-yellow: #FFC101;
}

@keyframes gradient-shift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.animate-gradient {
  animation: gradient-shift 15s ease infinite;
}

@keyframes flux-text {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    20% {
      transform: translateY(0);
      opacity: 1;
    }
    80% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(100%);
      opacity: 0;
    }
}
  
.animate-flux-text {
  animation: flux-text 4.8s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}
